.warn{
    margin: 0;
    background:yellow;
    color:red
    
}

.home{
    background: turquoise;
    height: 100vh;
    h1{
        color: black;
        text-align: center;
        padding-top: 10vh;
    }
    .wrap{
        width: 80%;
        border-radius: 20px;
        background: white;
        margin: auto auto;
        padding:0px 30px 0px;
        .nav{            
            border-bottom: 1px solid lightgray;
            margin-bottom: 20px;
            line-height: 50px;
            a{
                display: inline-block;
                width: 25%;
                text-align: center;
                color: black;
                font-size: 20px;
                &.checked{
                    color: mediumturquoise;
                    font-weight: bold;
                }
            }
        }

        p{
            color: lightgray;
        }

        .btn{
            border-radius: 10px;
            vertical-align:middle;
            text-align: center;
            margin: 0px auto;
            font-size: 20px;
        }

        .linkcs{
            display:inline-table;
            margin: 0px 0px;
            font-size: 30px;
        }
    }
}